html, body {
    overflow-x: hidden;
}

body {
    font-family: Arial,sans-serif;
    font-size: 0.8em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

footer {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

.navbar, footer {
    background-color: white;
    padding: 2% 3.5% 2% 3.5%;
}

.navbar-brand {
    font-size: 5em;
    white-space: normal;
    line-height: 1em;
}

.nav-link  {
    border: 1px solid white;
}

.nav-link, .nav-link:hover {
    color: black;
    font-size: 2em;
    font-family: 'Arial Narrow'
}

.nav-link:hover, .nav-link:focus {
    text-decoration: underline;
}

.nav-link:focus {
    outline: 0;
    border: 1px solid black;
    border-radius: 0;
}


.page-title {
    padding-right: 2em;
    font-style: italic;
}

.social-media-link {
    padding: 0 4px;
}

.social-media-link:hover {
    text-decoration: none;
}

.social-media-link:focus {
    outline: 0;
    
}

.social-media-link > img {
    border: 1px solid white;
    border-radius: 0;
}

.social-media-link:focus > img {
    border: 1px solid black;
    border-radius: 0;
}

.code-link {
    z-index: 1;
}

#vimeo-player-container {
    margin-top: 25px;
    max-width: 640px;
}

#project-container {
    margin-top: 1.5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
}

.preview-img-container {
    padding-bottom: 3.5%;
    display: none;
}

.preview-img-container.show {
    display: block;
}

.preview-img {
    position: relative;
}

.preview-img img {
    height: 300px;
    width: auto;
    
}

.preview-img:hover .img-overlay {
    visibility: visible;
}

.preview-img:focus, .img-overlay {
    visibility: visible;
}

.preview-img > a:focus {
    outline: 0;
}

.preview-img > a > img {
    border: 1px solid white;
    border-radius: 0;
}

.preview-img > a:focus > img {
    border: 1px solid black; 
    border-radius: 0;
}

.img-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 255, 0.7);
    bottom: 0px;
    visibility: hidden;
    color: white;
    display: flex;
    align-items: center;
}

.img-overlay > .project-title {
    text-decoration: underline;
    font-size: 3em;
    font-family: 'Arial Narrow';
    text-align: center;
    width: 100%;
}


#filter-button-container > button {
    background-color: white;
    border: 0;
    color: #646464;
    border: 1px solid white;
    border-radius: 0;
}

#filter-button-container > button:focus, 
#filter-button-container > .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0;
    border: 1px solid black;
    border-radius: 0;
}

#filter-button-container > button:hover, 
#filter-button-container > button.active,
#filter-button-container > button:focus {
    text-decoration: underline;
    color: black;
}
