body {
    font-family: "Roboto","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 0.8em;
}

.project-row {
    padding-top: 20px;
    padding-bottom: 20px;
}

.preview-img img.preview-img-png {
    width: 100px;
    height: auto;
}

.preview-img img.preview-img-gif {
    display: none;
    width: 100px;
    height: auto;
}

.preview-img:hover img.preview-img-png {
    display: none;
}

.preview-img:hover img.preview-img-gif {
    display: inline-block;
}
