.project-preview-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.project-section {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.gallery-section {
    width: 100%;
}

.about-video {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    text-align: center; 
}

.gallery-container {
    width: 100%; 
}

.video-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video-iframe {
    width: 70vw;
    height: 70vh;
}

.about-gallery, .about-video {
    font-size: 1em;
    color: grey;
}

.about-single-image {
    padding: 1%;
    font-size: 0.75em;
    color: grey;
    display: flex;
}
.about-single-image > *, .about-video > * {
    flex-grow: 1;
    width: 0;
}

.single-image-preview{
   max-height: 75vh;
   width: auto;
}

.back-link-icon {
    fill: grey;
}

.back-link {
    margin-right: 2%;
}

.back-link:hover > .back-link-icon {
    fill:black;
}

.preview-img-container {
    display: block;
}

@media screen and (max-width:600px) {
    .back-link {
        display: none;
    }
    .single-image-preview {
        height: auto;
        max-width: 90vw;
    }
    .about-single-image {
        font-size: 1em;
    }
    .about-video {
        margin-top: -25%;
        font-size: 1.5em;
    }
}


