.project-preview-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.single-image-section, .gallery-section {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.gallery-section {
    width: 100%;
}

.gallery-container {
    width: 100%; 
}


.about-gallery {
    font-size: 1em;
    color: grey;
}

.about-single-image {
    padding: 1%;
    font-size: 0.75em;
    color: grey;
    display: flex;
}
.about-single-image > * {
    flex-grow: 1;
    width: 0;
}

@media screen and (max-width:600px) {
    .about-single-image {
      font-size: 1em;
    }
  }

.single-image-preview{
   max-height: 75vh;
   width: auto;
}

@media screen and (max-width:600px) {
  .single-image-preview {
    height: auto;
    max-width: 90vw;
  }
}

.back-link-icon {
    fill: grey;
}

.back-link {
    margin-right: 2%;
}

.back-link:hover > .back-link-icon {
    fill:black;
}

@media screen and (max-width:600px) {
    .back-link {
        display: none;
    }
}


.preview-img-container {
    display: block;
}
