.project-preview-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.project-preview-content {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}
.project-about-container {
    padding: 1%;
}

.project-about-container {
    font-size: 0.75em;
    color: grey;
}

@media screen and (max-width:600px) {
    .project-about-container {
      font-size: 1em;
    }
  }

.project-preview-img {
   max-height: 75vh;
   width: auto;
}

@media screen and (max-width:600px) {
  .project-preview-img {
    height: auto;
    max-width: 90vw;
  }
}

.back-link-icon {
    fill: grey;
}

.back-link {
    margin-right: 2%;
}

.back-link:hover > .back-link-icon {
    fill:black;
}

@media screen and (max-width:600px) {
    .back-link {
        display: none;
    }
}