bootstrap-4.5.3-dist/
unprocessed/
**/.DS_Store
node_modules
.eleventy.js
_data/
_includes/
about/
assets/
comics-animation/
contact/
fine-art/
illustration/
index.html
interactives/
portfolio/
project/