<section class="project-section">
    <h2>Amaryllis Blooming</h2>
    <p>A short animation of an amaryllis blooming, in watercolor.</p>
    <div style="padding:40% 0 0 0;position:relative;">
        <iframe src="https://player.vimeo.com/video/563469417?loop=1&badge=0&autopause=0&player_id=0&app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Amaryllis Blooming"></iframe>
    </div>
    <script src="https://player.vimeo.com/api/player.js"></script>
    <p style="padding:2%;">The animation was created with 25 hand-painted watercolor frames. Click the frames below to view larger.</p>
    <div class="amaryllis-frame-sheets">
        <a target="_blank" href="https://s3.amazonaws.com/sophiaceleste.com/img/projects/amaryllis-blooming/frame-sheet-1.jpg">
            <img src="https://s3.amazonaws.com/sophiaceleste.com/img/projects/amaryllis-blooming/frame-sheet-1-sm.jpg"/>
        </a> 
        <a target="_blank" href="/img/projects/amaryllis-blooming/frame-sheet-2.jpg">
            <img src="https://s3.amazonaws.com/sophiaceleste.com/img/projects/amaryllis-blooming/frame-sheet-2-sm.jpg"/>
        </a>
        <a target="_blank" href="/img/projects/amaryllis-blooming/frame-sheet-3.jpg">
            <img src="https://s3.amazonaws.com/sophiaceleste.com/img/projects/amaryllis-blooming/frame-sheet-3-sm.jpg"/>
        </a>
    </div>
</section>
