---
layout: _project-preview-layout.ejs
title: SophiaCeleste - Amaryllis Blooming
---
<h2>Amaryllis Blooming</h2>
<p>A short animation of an amaryllis blooming, in watercolor.</p>
<div id="vimeo-player-container" class="container">
  <iframe src="https://player.vimeo.com/video/563469417" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
</div>
<p>The animation was created with 25 hand-painted watercolor frames. Click to view larger.</p>
<a target="_blank" href="/img/projects/amaryllis-blooming/frame-sheet-1.jpg"><img style="height:400px" src="/img/projects/amaryllis-blooming/frame-sheet-1-sm.jpg"/></a> 
<a target="_blank" href="/img/projects/amaryllis-blooming/frame-sheet-2.jpg"><img style="height:400px" src="/img/projects/amaryllis-blooming/frame-sheet-2-sm.jpg"/></a>
<a target="_blank" href="/img/projects/amaryllis-blooming/frame-sheet-3.jpg"><img style="height:400px" src="/img/projects/amaryllis-blooming/frame-sheet-3-sm.jpg"/></a>