<div style="text-align:center;">
    <p class="my-favorite-toy-p">
      <picture>
        <source media="(max-width: 999px)" srcset="https://s3.amazonaws.com/sophiaceleste.com/img/comics/my-favorite-toy/my_favorite_toy_title_sm.png 600w">
        <source media="(min-width: 1000px)" srcset="https://s3.amazonaws.com/sophiaceleste.com/img/comics/my-favorite-toy/my_favorite_toy_title_lg.png">
        <img src="https://s3.amazonaws.com/sophiaceleste.com/img/comics/my-favorite-toy/my_favorite_toy_title_lg.png">
      </picture>
    </p>
    <p class="my-favorite-toy-p">
      <img src="https://s3.amazonaws.com/sophiaceleste.com/img/comics/my-favorite-toy/my_favorite_toy_01.png"/>
      <img src="https://s3.amazonaws.com/sophiaceleste.com/img/comics/my-favorite-toy/my_favorite_toy_02.png"/>
      <img src="https://s3.amazonaws.com/sophiaceleste.com/img/comics/my-favorite-toy/my_favorite_toy_03.png"/>
      <img src="https://s3.amazonaws.com/sophiaceleste.com/img/comics/my-favorite-toy/my_favorite_toy_04.png"/>
    </p>
    <p class="my-favorite-toy-p">
      <img src="https://s3.amazonaws.com/sophiaceleste.com/img/comics/my-favorite-toy/my_favorite_toy_05.png"/>
      <img src="https://s3.amazonaws.com/sophiaceleste.com/img/comics/my-favorite-toy/my_favorite_toy_06.png"/>
      <img src="https://s3.amazonaws.com/sophiaceleste.com/img/comics/my-favorite-toy/my_favorite_toy_07.png"/>
      <img src="https://s3.amazonaws.com/sophiaceleste.com/img/comics/my-favorite-toy/my_favorite_toy_08.png"/>
    </p>
    <p class="my-favorite-toy-p">
      <img src="https://s3.amazonaws.com/sophiaceleste.com/img/comics/my-favorite-toy/my_favorite_toy_09.png"/>
      <img src="https://s3.amazonaws.com/sophiaceleste.com/img/comics/my-favorite-toy/my_favorite_toy_10.png"/>
      <img src="https://s3.amazonaws.com/sophiaceleste.com/img/comics/my-favorite-toy/my_favorite_toy_11.png"/>
      <img src="https://s3.amazonaws.com/sophiaceleste.com/img/comics/my-favorite-toy/my_favorite_toy_12.png"/>
    </p>
    <p class="my-favorite-toy-p">
      <img src="https://s3.amazonaws.com/sophiaceleste.com/img/comics/my-favorite-toy/my_favorite_toy_14.png"/>
      <img src="https://s3.amazonaws.com/sophiaceleste.com/img/comics/my-favorite-toy/my_favorite_toy_15.png"/>
      <img src="https://s3.amazonaws.com/sophiaceleste.com/img/comics/my-favorite-toy/my_favorite_toy_16.png"/>
      <img src="https://s3.amazonaws.com/sophiaceleste.com/img/comics/my-favorite-toy/my_favorite_toy_17.png">
    </p>
    <p class="my-favorite-toy-p">
      <img src="https://s3.amazonaws.com/sophiaceleste.com/img/comics/my-favorite-toy/my_favorite_toy_18.png"/>
      <img src="https://s3.amazonaws.com/sophiaceleste.com/img/comics/my-favorite-toy/my_favorite_toy_19.png"/>
    </p>
  </div>