---
layout: _base-layout.ejs
title: SophiaCeleste - About
page_css: about.css
---
<div class="about-container container">
  <div class="me-img-container">
    <img src="/img/me.jpg"/>
  </div>
  <div class="about-section">
    <h3 class="about-header">ABOUT ME</h3> 
    <p class="about-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed semper nunc id nunc mattis lacinia vel quis felis. Quisque tempus tellus sit amet magna egestas, quis sollicitudin dolor egestas. Pellentesque at neque dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec eleifend erat at velit aliquam, in aliquet lorem aliquam. Nulla vel nunc nibh. Fusce aliquet massa sed consequat maximus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquet porttitor dapibus. Mauris vel condimentum orci. Nullam semper fermentum neque a imperdiet. Vestibulum porttitor, mauris vel semper hendrerit, ex urna fermentum nibh, quis fringilla felis metus ac ligula. Aliquam erat volutpat. Vestibulum interdum nisi et mollis tempus.</p>
    <h3 class="find-me-header">FIND ME ON</h3>
    <div class="social-media-section">
      <% include _social-media-icons.ejs %>
      </div>
  </div>
</div>

