---
layout: _base_layout.ejs
title: About
page_css: about.css
---
<div class="about-container container">
  <div class="me-img-container">
    <img src="/img/me.png"/>
  </div>
  <div class="about-section">
    <p>
      Sophia Celeste is an NYC-based artist, writer, and software engineer. 
      She works in a wide range of media, including traditional dry & wet media, digital art, and animation.
      She also enjoys creating multidisciplinary, interactive artworks involving her expertise in both computer science and illustration.
    </p>
    <p>
      Sophia is currently open for work! Previously, she worked at <a href="https://www.seatgeek.com/">SeatGeek</a>, <a href="https://www.nytimes.com/">The New York Times</a> and <a href="https://www.cbrebuild.com/">CBREBuild</a>.
      View the rest of her resume <a href="/files/SophiaVanValkenburg_Resume.pdf">here</a>.
    </p>
    <div class="find-me-section">
      <h3 class="find-me-header">email me at:</h3>
      <b class="email-text">sophiavanv@gmail.com</b>
    </div>
    <div class="find-me-section">
      <h3 class="find-me-header">find me on:</h3>
      <div class="social-media-section">
        <%- include('_social_media_icons'); %>
      </div>
    </div>
  </div>
</div>

