---
layout: _base_layout.ejs
title: Works
---

<div id="project-container" class="container">
    <div class="work-categories-container">
        <div class="preview-img">
            <a href="/fine-art">
                <img class="preview-img-content" src="https://s3.amazonaws.com/sophiaceleste.com/img/category-previews/fine-art.jpg" />
            </a>
            <h4>Fine Art</h4>
        </div>
        <div class="preview-img">
            <a href="/illustration">
                <img class="preview-img-content" src="https://s3.amazonaws.com/sophiaceleste.com/img/category-previews/color-illustration.png" />
            </a>
            <h4>Illustration</h4>
        </div>
        <div class="preview-img">
            <a href="/interactives">
                <img class="preview-img-content" src="https://s3.amazonaws.com/sophiaceleste.com/img/category-previews/interactives.png" />
            </a>
            <h4>Interactives</h4>
        </div>
    </div>
</div>

