---
layout: _base-layout.ejs
title: Works
---

<div id="project-container" class="container">
    <div class="work-categories-container">
        <div class="preview-img">
            <a href="/illustration-color">
                <img class="preview-img-png" src="/img/category-previews/color-illustration.png" />
            </a>
            <h4>Color Illustration</h4>
        </div>
        <div class="preview-img">
            <a href="/illustration-bw">
                <img class="preview-img-png" src="/img/category-previews/bw-illustration.png" />
            </a>
            <h4>Black & White Illustration</h4>
        </div>
        <div class="preview-img">
            <a href="/interactives">
                <img class="preview-img-png" src="/img/category-previews/interactives.png" />
            </a>
            <h4>Interactives</h4>
        </div>
    </div>
</div>

