<footer>
<%- include('_social_media_icons'); %>
<a target="_blank" class="website-repo-link" href="https://github.com/sophiavanvalkenburg/sophiavanvalkenburg.github.io">Like this website? View the code on Github!</a>
</footer>