<footer>
<%- include _social-media-icons.ejs %>
<a class="website-repo-link" href="https://github.com/sophiavanvalkenburg/sophiavanvalkenburg.github.io">Like this website? View the code on Github!</a>
</footer>