<nav class="navbar sticky-top navbar-light navbar-expand-md">
    <a class="navbar-brand" href="/"><img alt="Sophia Celeste" src="/img/brand.jpg"></a>
    <div class="navbar-toggler-container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <svg viewBox="0 0 60 60" width="20" height="30">
                <rect width="60" height="5"></rect>
                <rect y="25" width="60" height="5"></rect>
                <rect y="50" width="60" height="5"></rect>
              </svg>
        </button>
    </div>
    <div id="navbarToggleExternalContent" class="navbar-link-container collapse navbar-collapse">
        <a class="link nav-link nav-work-link" href="/">work</a>
        <a class="link nav-link nav-about-link" href="/about">about/contact</a>
    </div>
</nav>