<title>SophiaCeleste.com</title>
<meta charset="utf-8">
<meta property="og:title" content="<%- title %>">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no user-scalable=no">
<link rel="stylesheet" href="/lib/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/index.css" />
<% if (typeof page_css !== 'undefined') { %>
<link rel="stylesheet" href="/css/<%- page_css %>" />
<% } %>
<script src="/lib/js/jquery-3.6.0.min.js"></script>
<script src="/lib/js/bootstrap.min.js"></script>
<script src="/lib/js/masonry.pkgd.min.js"></script>
<script src="/lib/js/imagesloaded.pkgd.min.js"></script>