<nav class="navbar sticky-top navbar-light">
    <a class="navbar-brand" href="/"><img alt="Sophia Celeste" src="/img/brand.jpg"></a>
    <div class="navbar-link-container">
        <a class="link nav-link nav-work-link" href="/illustration">WORK</a>
        <a class="link nav-link nav-about-link" href="/about">ABOUT</a>
        <a class="link nav-link nav-contact-link" href="/contact">CONTACT</a>
    </div>
</nav>