---
layout: _base-layout.ejs
title: Sophia Celeste - Artist
page_css: work.css
---

<!--<div id="vimeo-player-container" class="container">
  <iframe src="https://player.vimeo.com/video/440104318" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
</div>-->

<div id="filter-button-container" class="container">
  <button class="btn active" onclick="filterSelection('illustration')">ILLUSTRATION</button>
  <button class="btn" onclick="filterSelection('interactive')">INTERACTIVES</button>
  <button class="btn" onclick="filterSelection('fine-art')">FINE ART</button>
  <button class="btn" onclick="filterSelection('all')">ALL</button>
</div>
  
<div id="project-container" class="container">
    <% for ( let i = 0; i < projects.length; i++ ){ %>
        <div class="preview-img-container filterDiv <%- projects[i].category %>">
            <div class="preview-img">
                <a target="_blank" href="<%- projects[i].projectUrl %>">
                    <img class="preview-img-png" src="<%- projects[i].previewImgUrl %>" />
                    <div class="img-overlay">
                        <h5 class="project-title"><%- projects[i].title %></h5>
                    </div>
                </a>
            </div>
        </div>
    <% } %>
</div>


<script src="/js/filter.js"></script>

