.nav-contact-link {
    font-style: italic;
    text-decoration: underline;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    min-width: 50%;
}

#contact-form  {
    font-family: 'Arial Narrow';
    width: 50%;
}

#contact-form > h4 {
    font-size: 1.5em;
}

.form-control {
    border-radius: 0;
}

#contact-form > button {
    border: 1px solid black;
    border-radius: 0;
}

@media screen and (max-width:600px){
    #contact-form {
        width: 90%;
    }
}