.nav-work-link {
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
}

.work-categories-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5vh 1vw;
    text-align: center;
}

.work-categories-container .preview-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-categories-container .preview-img:hover {
    text-decoration: underline;
}

.work-categories-container .preview-img .preview-img-content {
    width: 25vw;
    height: auto;
}

.work-categories-container .preview-img h4 {
    font-size: 1.5em;
}

@media screen and (orientation: portrait) {
    .work-categories-container .preview-img .preview-img-content {
        height: 40vh;
        width: auto;
    }
    .work-categories-container {
        flex-direction: column;
    }
}